{% extends 'backend/base.html' %}

{% block title %} Create Product {% endblock %}

{% block content %}

<script>

    var varients = {{ variants|safe }}
    var products = {{ products|safe }}

    {% comment %} var varients = JSON.parse('{{ variants|safe|json_script }}');
    var products = JSON.parse('{{ products|safe|json_script }}'); {% endcomment %}

    {% comment %} console.log(typeof varients) {% endcomment %}

    console.log("products",products)
    console.log("varients",varients)

    </script>



    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Product</h1>
        <a href="{% url 'product:list.product' %}" class="float-right btn btn-primary">All Product</a>
    </div>

    <div id="root">

        <CreateProduct data-variants="{{ variants|safe }}" data-products="{{ products|safe }}" ></CreateProduct>

        {% comment %} <CreateProduct id="products" data-variants="{{ products|safe }}"></CreateProduct> {% endcomment %}

    </div>

{% endblock %}